@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-manrope;
  }
}

@layer components {
  .heading {
    @apply text-4xl font-bold;
  }

  .label-txt {
    @apply mt-4 font-bold text-lg;
  }

  .input-container {
    @apply flex items-center justify-between max-w-lg h-[72px] mb-4 rounded-2xl border shadow-lg  px-2 focus-within:border-input-outline/70 focus-within:border-2;
  }

  .input-field {
    @apply w-full bg-transparent outline-none;
  }

  .icon {
    @apply w-[24px] h-[24px] text-secondary/70 cursor-pointer;
  }

  .error-msg {
    @apply text-error text-sm mt-1 ml-2;
  }
}
