@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-manrope text-base bg-white text-black;
  }
}

@layer components {
  .heading {
    @apply text-4xl font-bold mb-4;
  }

  .label-txt {
    @apply mt-4 font-bold text-lg;
  }

  .input-container {
    @apply flex items-center justify-between w-full md:w-[520px] h-[72px] mb-4 rounded-2xl border shadow-lg  px-2 hover:border-input-outline/30 focus-within:border-input-outline/70 focus-within:border-2  transition-all ease-in-out;
  }

  .input-field {
    @apply w-full bg-transparent outline-none;
  }

  .form-wrapper {
    @apply flex flex-col w-[320px] md:w-[520px] mt-10 md:mt-12 lg:mt-4 mb-8;
  }

  .checkbox-container {
    @apply appearance-none w-full h-full border border-input-outline/30 rounded-sm shadow-lg hover:border-input-outline/70 focus:border-input-outline/70 focus:ring-2 focus:ring-input-outline/70 transition-all ease-in-out cursor-pointer;
  }

  .primary-btn {
    @apply w-full md:w-[520px] h-[72px] my-6 rounded-xl border shadow-lg bg-primary text-2xl text-white font-bold py-3 px-6 hover:bg-button-hover active:bg-secondary transition-all ease-in-out;
  }

  .icon {
    @apply w-[24px] h-[24px] text-secondary/70 cursor-pointer;
  }

  .error-msg {
    @apply text-error text-sm mt-1 ml-2;
  }

  .cta {
    @apply text-secondary hover:text-primary text-base font-bold underline underline-offset-2 transition-all ease-in-out cursor-pointer;
  }
}
